@import "tailwindcss";
.google-logo span {
  transition: all 0.3s ease;
}

.google-logo:hover span:nth-child(1) {
  transform: rotate(-10deg);
}
.google-logo:hover span:nth-child(2) {
  transform: rotate(5deg);
}
.google-logo:hover span:nth-child(3) {
  transform: rotate(-5deg);
}
.google-logo:hover span:nth-child(4) {
  transform: rotate(10deg);
}
.google-logo:hover span:nth-child(5) {
  transform: rotate(-5deg);
}
.google-logo:hover span:nth-child(6) {
  transform: rotate(5deg);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.langugage-options {
  @media screen and (max-width: 640px) {
    display: flex;
    flex-direction: column;
  }
}
